# Runtime versions taken from the final experiment environment.
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.2.0+cu121
torchvision==0.17.0+cu121
torchaudio==2.2.0+cu121
accelerate==1.12.0
bddl==3.6.0
cloudpickle==3.1.2
diffusers==0.30.0
draccus==0.8.0
easydict==1.13
einops==0.8.2
einops-exts==0.0.4
future==1.0.0
gym==0.26.2
h5py
huggingface-hub==0.36.2
imageio==2.37.2
imageio-ffmpeg==0.6.0
json-numpy==2.1.1
jsonlines==4.0.0
matplotlib==3.10.8
mujoco==3.6.0
numpy==1.26.4
opencv-python==4.8.1.78
packaging==25.0
peft==0.11.1
pillow==12.1.1
pyyaml==6.0.3
rich==14.3.3
robosuite==1.4.1
safetensors==0.7.0
scipy==1.15.3
sentencepiece==0.1.99
tensorboard==2.15.2
tensorflow==2.15.0
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.3
tensorflow-graphics==2021.12.3
tensorflow-metadata==1.17.3
timm==0.9.10
tokenizers==0.19.1
tqdm==4.67.3
transforms3d
wandb==0.25.0
transformers @ git+https://github.com/moojink/transformers-openvla-oft.git@bc339d9ad707454c0c115970db43c260067c61ab
dlimp @ git+https://github.com/moojink/dlimp_openvla.git@040105d256bd28866cc6620621a3d5f7b6b91b46
